* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl (0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue1: hsl(224, 65%, 95%);
  --light-grayish-blue2: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  color: var(--grayish-blue);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  height: 91vh;
}

.pricing {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 2rem var(--very-pale-blue),
              -0.1rem 0.1rem 2rem var(--pale-blue);
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.pricing > div {
  padding-inline: 1.4rem;
}

header {
  width: 20rem;
  background-image: url("./images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  font-size: 0.75rem;
}

h1 {
  font-size: 1.25rem;
  color: var(--dark-desaturated-blue);
  margin: 0.4rem;
}

.pricing__switch {
  position: relative;
  display: inline-block;
  width: 2.2rem;
  height: 1.2rem;
}

.pricing__switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

.pricing__switch > span {
  position: absolute;
  inset: 0;
  transition: .4s;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: var(--light-grayish-blue2);
}

.pricing__switch > span::before {
  content: "";
  position: absolute;
  left: 0.3rem;
  bottom: 0.25rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  transition: .4s;
  background-color: white;
}

input[type=checkbox]:checked + span {
  background-color: var(--strong-cyan);
}

input[type=checkbox]:hover + span {
  background-color: var(--strong-cyan);
  opacity: 0.7;
}

input[type=checkbox]:checked + span::before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

.pricing__divider {
  border: 2px solid var(--very-pale-blue);
  width: 100%;
}

hr {
  width: 100%;
  border: 1px solid var(--very-pale-blue);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  gap: 0.5rem;
}

li {
  list-style-image: url("./images/icon-check.svg");
  margin-left: -1rem;
}

button {
  background-color: var(--dark-desaturated-blue);
  color: var(--pale-blue);
  border: none;
  border-radius: 1.7rem;
  width: 10rem;
  padding: 0.7rem 0;
  font-size: 0.75rem;
  font-family: inherit;
  margin-top: 0.7rem;
}


.pricing__rate {
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.pricing__rate > span {
  font-size: 2rem;
  color: var(--dark-desaturated-blue);
}

.pricing__frequency {
  display: flex;
  font-size: 0.75rem;
  gap: 0.7rem;
  margin-left: 3rem;
  width: 100%;
}

.pricing__discount {
  background-color: var(--light-grayish-red);
  color: var(--light-red);
  border-radius: 0.6rem;
  font-size: 0.9em;
  padding: 0.2rem 0.4rem;
}

.pricing__discount > span {
  display: none;
}

.pricing__slider {
  width: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: linear-gradient(to right, var(--soft-cyan) 0%, var(--soft-cyan) 50%, var(--light-grayish-blue1) 50%, var(--light-grayish-blue1) 100%);
  border-radius: 1rem;
  opacity: 0.8;
  height: 0.5rem;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* input[type=range]::-ms-thumb,
input[type=range]::-moz-range-thumb, */
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("./images/icon-slider.svg");
  background-color: var(--strong-cyan);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%; 
  cursor: pointer;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.attribution { 
  bottom: 2rem;
  font-size: 0.7rem;
  padding: 2rem;
  text-align: center;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 700px) {
  .pricing {
    width: 30rem;
  }

  .pricing__frequency {
    /* justify-content: center; */
    margin-left: 13.3rem;

  }

  .pricing__discount > span {
    display: inline;
  }
}